.logo {
    position: absolute;
    z-index: 1;
    left: 42%;
}

.video-page-logo {
  position: absolute;
  z-index: 1;
  left: 42%;
  top: 5px;
}
  
  .logo-img {
    width: 15vw; 
    height: 35vh; 
    object-fit: contain; 
  }

  .video-page-logo-img {
    object-fit: contain;
  }
  