.container {
    width: 100vw;
    /* padding: 20px auto; */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fff;
}

.section {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 20px 0;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h3 {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
    font-weight: normal;
    text-decoration: none;
}

.video-library,
.about-us,
.forum {
    width: 30vw;
    min-height: auto;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    padding: 15px;
    transition: background-color 0.3s;
    border-radius: 30px;
}

.video-library:hover,
.forum:hover,
.about-us:hover {
    background-color: #ccc;
}

.about-us p,
.video-library p,
.forum p {
    margin: 0;
}

.section-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.NavLink {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}
/* Media Query for screens smaller than 768px */
@media (max-width: 786px) {
    
    .container {
        padding: 0; /* Remove padding from container to allow full width usage */
        margin: 0; /* Remove margin to fit the section tightly to the viewport edges */
    }
    .section {
        flex-direction: column; /* Stack the items vertically */
    }

    .video-library,
    .about-us,
    .forum {
        width: 85vw;
    }
}
